body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(230, 230, 230);
    margin: 0;
}
.logo {
    height: 2.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
}
nav {
    padding: 0% 22%;
    background-color: rgb(255, 250, 180);
}
.navbarlist {
    display: flex;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0%;
    padding-left: 0%;
    justify-content: center;
}
.navbaritem {
    padding: 1rem;
    border-right: 1px solid black;
}
.navbaritem:nth-child(2) {
    border-left: 1px solid black;
}
.navbaritem:last-child {
    margin-right: 0;
}
.document {
    margin: 3% 22%;
    padding: 2% 3%;
    background-color: rgb(247, 247, 247);
}
h1 {
    font-weight: 800;
}
h2 {
    font-weight: 800;
}
h3.list {
    margin-left: 1.3em;
}
ul {
    list-style-type: circle;
}