body {
    font-family: 'Montserrat', sans-serif;
    margin: 3% 25%;
    padding: 2% 3%;
}
h1 {
    font-weight: 800;
}
h2 {
    font-weight: 800;
}
h3 {
    margin-left: 1.3em;
}
ul {
    list-style-type: circle;
}